onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.a filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
Kokoro/*.txt filter=lfs diff=lfs merge=lfs -text
